
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="txtName" class="form-control" placeholder="Enter Name">
                            <span id="errorName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="txtEmail" class="form-control" placeholder="Enter Email">
                            <span id="errorEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="txtcity" class="form-control" placeholder="Enter city">
                            <span id="errorCity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact No</label>
                            <input type="number" id="txtContact" class="form-control" placeholder="Enter Contact No">
                            <span id="errorContact" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cinic</label>
                            <input type="number" id="txtCninc" class="form-control" placeholder="Enter Cninc">
                            <span id="errorCninc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                            <div class="form-group">
                                <label>Department</label>
                                <@* select class="form-control select2bs4" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select> *@
                            </div>
                            <span id="errorCninc" class="text-danger"></span>
                        </div>
                        </div>
                    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" id="txtaddress" rows="3" placeholder="Enter Address"></textarea>
                            <span id="erroraddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Profile Image</label>
                            <input type="file" id="txtfile" class="form-control pb-4" >
                            
                        </div>
                    </div>
                  
                </div>

            </div>

            <div class="card-footer float-right">
                <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
            </div>

        </div>

    </div>
</div>


